@import url("./global/layout.css");
@import url("./global/typography.css");
@import url("./global/utils.css");

.notes {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.note__detail {
	margin: 20px 20px;
	height: max-content;
	display: flex;
	flex-direction: column;
}

.single-note {
	width: 245px;
	height: 255px;
	border-radius: 8px;
	display: grid;
	grid-template-rows: 200px 40px;
}

.note__actions {
	bottom: 0px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

/* .delete__container {
	width: 36px;
	height: 36px;
	border-radius: 100px;
	background-color: #ffffff80;
	justify-content: center;
	align-items: center;
	display: flex;
} */

.icon-container {
	width: 36px;
	height: 36px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 18px;
	height: 18px;
	margin: auto;
}

.palette__color-table {
	position: absolute;
	width: 145px;
	height: 55px;
	background-color: white;
	border-radius: 8px;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
}

.palette__color-table div {
	border-radius: 100%;
	cursor: pointer;
}
