@import url("./global/layout.css");
@import url("./global/typography.css");
@import url("./global/utils.css");

.notes {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.single-note {
	width: 205px;
	height: 225px;
	border-radius: 8px;
	padding: 20px 20px 0px 20px;
	display: grid;
	grid-template-rows: 185px 40px;
}

.note__actions {
	display: flex;
	padding: 2px;
	flex-direction: row;
	gap: 9px;
	align-items: center;
}

.icon-container {
	width: 36px;
	height: 36px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 18px;
	height: 18px;
	text-align: center;
}

.palette__color-table {
	position: absolute;
	width: 145px;
	height: 55px;
	background-color: white;
	border-radius: 8px;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
}

.palette__color-table div {
	border-radius: 100%;
	cursor: pointer;
}
