html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1d2128;
}

.header {
	position: relative;
	width: 100%;
	height: 70px;
}

.header__container {
	width: 100%;
	height: 70px;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
}

.header__container-logo {
	width: 138px;
	height: 24px;
	margin: 0px 15px;
}

.container {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	background-color: #1d2128;
}

.container-left {
	width: 280px;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
}

.container-left__brackets {
	width: 20px;
	height: 16px;
	margin: 0px 20px;
}

.container-left__trash {
	width: 25px;
	height: 24px;
	margin: 0px 18px;
}

.container-left__links {
	width: 280px;
	height: 126px;
	padding: 10px 0px;
}

.container-left__item {
	width: 280px;
	height: 48px;
	border-radius: 0px 25px 25px 0px;
}

.button:hover {
	background-color: #747475;
}

.container-right {
	width: 100%;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
	padding: 24px 20px;
}

.container-right__note {
	width: 600px;
	height: 150px;
	border-radius: 8px;
	background-color: #ffffff;
	margin: 0 auto;
}

.container-right__content {
	width: 560px;
	height: 110px;
	margin: 20px 20px;
}

.container-right__actions {
	width: 560px;
	height: 36px;
}

.container-right__palette {
	width: 36px;
	height: 36px;
}
