.header {
  position: relative;
  max-width: 1440px;
  height: 70px;
}

.header__container {
  max-width: 1440px;
  height: 70px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.header__container-logo {
  width: 138px;
  height: 24px;
  margin: 0px 15px;
}

.container {
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #1D2128;
}

.container-left {
  width: 280px;
  height: 954px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.container-left__brackets {
  width: 20px;
  height: 16px;
  margin: 0px 20px;
}

.container-left__trash {
  width: 17px;
  height: 18px;
  margin: 0px 20px;
}

.container-left__links {
  width: 280px;
  height: 126px;
  padding: 10px 0px;
}

.container-left__item {
  width: 280px;
  height: 48px;
  border-radius: 0px 25px 25px 0px;
}

.button:active {
  background-color: #999B9E;
}

.container-right {
  width: 1160px;
  height: 954px;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

.container-right__text {
  min-height: 500px;
  min-width: 500px;
  top: 59px;
}

.container-right__note {
  width: 600px;
  height: 150px;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin: 24px 0px;
}

.container-right__content {
  width: 560px;
  height: 110px;
  margin: 20px 20px;
}

.container-right__actions {
  width: 560px;
  height: 36px;
}

.container-right__content-palette {
  width: 18px;
  height: 18px;
}

.container-right__palette {
  width: 36px;
  height: 36px;
}
