/* Background colors */
.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: #999b9e;
}

/* colors */
.white {
	color: #ffffff;
}

.white-transparent {
	background-color: #ffffff80;
}

.black {
	color: #000000;
}

.primary-500 {
	color: var(--primary-500);
}

.gray-200 {
	color: var(--gray-200);
}

.gray-300 {
	color: var(--gray-300);
}

.error-300 {
	color: var(--error-300);
}

/* Margins */
.mb-8 {
	margin-bottom: 2rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.m-0 {
	margin: 0px 0px;
}

.m-auto {
	margin: 0 auto;
}

.mt-40 {
	margin-top: 10rem;
}

.ml-5 {
	margin-left: 1.25rem;
}

/* Flex & Grid */
.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-column {
	flex-direction: column;
}

.flex__align-center {
	align-items: center;
}

.flex__justify-center {
	justify-content: center;
}

.flex__space-between {
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}

.block {
	display: block;
}

/* Gap */
.gap-2 {
	gap: 0.5rem;
}

.gap-2_5 {
	gap: 0.625rem;
}

.gap-3 {
	gap: 0.75rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-5 {
	gap: 1.25rem;
}

.gap-6 {
	gap: 1.5rem;
}

.gap-7 {
	gap: 1.75rem;
}

.gap-8 {
	gap: 2rem;
}

.gap-9 {
	gap: 2.25rem;
}

.gap-10 {
	gap: 2.5rem;
}

.gap-14 {
	gap: 3.5rem;
}

.gap-15 {
	gap: 3.75rem;
}

.gap-30 {
	gap: 7.5rem;
}

/* Width */
.fit-content {
	width: fit-content;
}

.full-width {
	width: 100%;
}

/* Height */
.h-5 {
	height: 1.25rem;
}

/* Text styling */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

/* Paddings */
.p-0 {
	padding: 0;
}

/* Borders */
.no-border {
	border: 0;
}

.outlinenone {
	outline: none;
}

.border-gray {
	border: 1px solid #999b9e;
}

/* Display */
.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

/* Radius */
.rounded {
	border-radius: 100%;
}

.relative {
	position: relative;
}
